$clrs: (
	header-focus: hsl(238, 29%, 16%),
	arrow-clr: hsl(14, 88%, 65%),
	body-bg: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)),
	ques-clr: hsl(237, 12%, 33%),
	description-clr: hsl(240, 6%, 50%),
	main-bg: hsl(240, 5%, 91%),
);