doctype html 
html(lang="en-UK")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../css/styles.css")
		title Faq 
	body 
		main 
			section.faq-sec
				.top-woman-image
				h1 FAQ
				ul 
					.questions-container
						li.faq-sec__questions
							| How many team members can I invite?
						.questions-container__arrow-icon
					.questions-container
						li.faq-sec__questions
							| What is the maximun file upload size?
						.questions-container__arrow-icon
					.questions-container
						li.faq-sec__questions
							| How do I reset my password?
						.questions-container__arrow-icon
					.questions-container
						li.faq-sec__questions
							| Can I cancel my subscription?
						.questions-container__arrow-icon
					.questions-container
						li.faq-sec__questions
							| Do you provide additional support?
						.questions-container__arrow-icon